<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="MedianStats.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
		<startup> 
				<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
		</startup>
	<userSettings>
		<MedianStats.Properties.Settings>
			<setting name="notifierText" serializeAs="String">
				<value />
			</setting>
			<setting name="mousefix" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="nopickup" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="toggleShowItems" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="notifyEnabled" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="notifySuperior" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="notifierSounds" serializeAs="Xml">
				<value>
					<SoundList xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
								xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<Sounds>
							<Sound>
								<FilePath>resources/sound1.wav</FilePath>
								<Volume>0.15</Volume>
							</Sound>
							<Sound>
								<FilePath>resources/sound2.wav</FilePath>
								<Volume>0.15</Volume>
							</Sound>
							<Sound>
								<FilePath>resources/sound3.wav</FilePath>
								<Volume>0.15</Volume>
							</Sound>
							<Sound>
								<FilePath>resources/sound4.wav</FilePath>
								<Volume>0.15</Volume>
							</Sound>
							<Sound>
								<FilePath>resources/sound5.wav</FilePath>
								<Volume>0.15</Volume>
							</Sound>
						</Sounds>
					</SoundList>
				</value>
			</setting>
		</MedianStats.Properties.Settings>
	</userSettings>
</configuration>